ci:
  autofix_commit_msg: "chore(ci): pre-commit auto fixes"
  autoupdate_commit_msg: "chore(ci): pre-commit autoupdate"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.6.0'
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-builtin-literals
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-yaml
      - id: debug-statements
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.11.2'
    hooks:
      - id: mypy
        additional_dependencies: [types-PyYAML]
        args: ["--config-file=pyproject.toml", "src/", "docs/"]
        pass_filenames: false
  - repo: https://github.com/asottile/pyupgrade
    rev: 'v3.17.0'
    hooks:
      - id: pyupgrade
        args:
          - --py39-plus
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.2
    hooks:
        - id: check-metaschema
          files: ^src/rapids_dependency_file_generator/schema.json$
        - id: check-jsonschema
          files: ^tests/examples/([^/]*)/dependencies.yaml$
          args: ["--schemafile", "src/rapids_dependency_file_generator/schema.json"]
        - id: check-github-workflows
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.2
    hooks:
      - id: ruff
        files: src/.*$
      - id: ruff-format
        files: src/.*$
default_language_version:
    python: python3
