on:
  workflow_call:
    inputs:
      build_version:
        type: string

env:
  OUTPUT_DIR: /tmp/output

jobs:
  conda:
    runs-on: ubuntu-latest
    container: condaforge/miniforge3:latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: ./ci/build-test/conda.sh
        env:
          BUILD_VERSION: ${{ inputs.version }}
      - uses: actions/upload-artifact@v4
        with:
          name: conda_artifacts
          path: ${{ env.OUTPUT_DIR }}
  wheel:
    runs-on: ubuntu-latest
    container: python:3
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: ./ci/build-test/wheel.sh
        env:
          BUILD_VERSION: ${{ inputs.version }}
      - uses: actions/upload-artifact@v4
        with:
          name: wheel_artifacts
          path: ${{ env.OUTPUT_DIR }}
