name: release

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "setup.cfg"
      - "setup.py"
      - "pyproject.toml"
      - ".github/workflows/release.yaml"

jobs:
  build-test:
    uses: ./.github/workflows/build-test.yaml
  release:
    needs: build-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm install @semantic-release/exec@6 -D
          npx semantic-release@19
